#template,
#jinja,
#nunjucks,
#values {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #ccc;
}

#jinja,
#nunjucks {
    background: #eee;
}

span.whitespace {
    color: #ccc;
}

label {
    font-weight: normal;
}
